html{
	/*height:100%;
	overflow: hidden;*/
}

body{
	/*	overflow:hidden;*/
}

#children .control-handle:last-child{
	margin-bottom:100px;
}

#children .control-handle.dragged:last-child{
	margin-bottom:500px;
}

.ui-resizable-n{
	background-color:#666;
}

.ui-resizable-s{
	background-color:#666;
}

.not-selectable{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.control-handle{
	width:100%;
	background-color:transparent;
	/*outline:6px solid transparent;*/
	cursor:n-resize;
	text-align: center;
	height:0px;
	overflow:visible;
	margin-left: auto;
	margin-right: auto;
	position:relative;
}

.control-handle.shown{
	background-color:#69AEDB;
	/*outline:6px solid #69AEDB;*/
	height:0px;
}






.item-settings-menu{
	width:25px;
	height:25px;
	cursor:pointer;
	margin:2px;

	background-position:center; 
	background-repeat:no-repeat;
	background-size:22px 22px;
}


.item-settings-menu.delete-btn{
	background-image:url(/images/ui_icons/delete_off.png);
}
.item-settings-menu.delete-btn:hover{
	background-image:url(/images/ui_icons/delete_on.png);
}

.item-settings-menu.delete-btn.user-sure{
	background-image:url(/images/ui_icons/sure.png);
}

.item-settings-menu.style-btn{
	background-image:url(/images/ui_icons/style_settings_off.png);
}
.item-settings-menu.style-btn:hover{
	background-image:url(/images/ui_icons/style_settings_on.png);
}

.item-settings-menu.edit-btn{
	background-image:url(/images/ui_icons/edit_on.png);
}


.stripe-controls.shown{
	display:block;
}

.stripe-controls.shown.deactivated{
	display:none;
}

.stripe-controls.deactivated{
	display:none;
}


.stripe-controls{
	position:absolute;
	display:none;
	/*transition: opacity 0.5s 0 ease; *//* Mouse enter: delay */
	background-color:black;
	}

.mini-menu{
	top:10px;
	/*border-radius: 2px;*/
	/*-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);*/
	/*-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.5);*/
	/*box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 0.5);*/
	background-color: #111111;
	/*border-style:solid;*/
	/*border-width:1px;*/
	/*border-color: #2E2E2E;*/
}

.mini-menu.left{
	left:10px;
}

.mini-menu.right{
	right:10px;
}






.rotated-45{
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
}

.control-handle.shown .add-stripe-holder{
	opacity:1;
}




.main-page{
	/*background-color:white;
	overflow-y: auto;
	overflow-x: hidden;
	height:100%;*/
}




#xprs.desktop-preview{
/*	-webkit-transform:none!important;*/
}


#xprs{
	/*overflow:hidden;
	position:absolute;
    left:0px;
    top:0px;
    width:100%;*/
   /* height:100%;*/
	-webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	border:0px solid #000000;
	border-top:0px;
	border-bottom:0px;
	/*transform:scale(1,1);
	-ms-transform:scale(1,1);
	-webkit-transform:scale(1,1);*/ 
}

#xprs.site-thumb{
	-webkit-transform: translateZ(-1900px) rotateY(55deg) translateX(-1000px) scale(0.7);
	transform:translateZ(-1900px) rotateY(55deg) translateX(-1000px) scale(0.7);
	-ms-transform:translateZ(-1900px) rotateY(55deg) translateX(-1000px) scale(0.7);
	cursor:pointer;
}

#xprs.no-site{
	-webkit-transform: translateZ(-1900px) rotateY(55deg) translateX(-1000px) scale(0);
}

#xprs.shadowed{
	/*-webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);*/
	/*-moz-box-shadow:    0px 10px 20px 0px rgba(0, 0, 0, 0.5);*/
	/*box-shadow:         0px 10px 20px 0px rgba(0, 0, 0, 0.5);*/
}




#editor-tab{
	height:50px;
	width:50px;
	position:fixed;
	top:50%;
	left:0px;
	background-color:black;
	border:solid 1px white;
	border-left:none;
	background-image:url('/images/ui_icons/back_ico.png');
	background-size: contain;
}


.vertical-spacing-menu{
	border:1px solid #777;
	background-color: transparent;
	left:10px;
	color:#777;
	position:absolute;
	opacity:0;
}

.vertical-spacing-menu.disabled{
	display:none;
}

.vertical-spacing-menu.shown{
	opacity:1;
}


.vertical-spacing-btn{
	
	display: inline-block;
	padding: 2px;
	width: 15px;
	height: 15px;
}

.vertical-spacing-field{
	display: inline-block;
	font-family: Arial;
	font-size: 14px;
	padding-bottom: 2px;

	}




.stripe-magic-circle{
	background-color:black;
	height: 30px;
	width: 87px;
	position:absolute;
	background-size: 28px 28px;
	background-position:left;
	background-repeat:no-repeat;
	/*background-image:url('../images/ui_icons/magic_circle.png');*/
	color: white;
	font-size: 10px;
	font-family: Arial;
	
}

#xprs:not(.site-thumb) .stripe-magic-circle:hover{
	z-index:99999999;
}

.stripe-magic-circle span{
	padding: 7px 25px;
	display: inline-block;
}

.stripe-magic-circle ul {
	display:none;
	background-color:black;
}

#xprs:not(.site-thumb) .stripe-magic-circle ul:hover {
	display:block;
}

#xprs:not(.site-thumb) .stripe-magic-circle:hover ul {
	display:block;
}







.pagination-dot.selected{
	background-image:url(/images/ui_icons/pagination_dot_selected.png);
}

.pagination-dot{
	width:12px;
	height:12px;
	background-image:url(/images/ui_icons/pagination_dot.png);
	background-position:center; 
	background-repeat:no-repeat;
	background-size: 12px;
	display: inline-block;
}

.pagination-dot:hover{
	background-image:url(/images/ui_icons/pagination_dot_selected.png);
}

.centrelized{
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	min-width:1000px;
}


#menu-pagination-wrapper{
	text-align:center;
}

.item-type-btn-wrapper.page2{
	display:none;
}


.left-click-menu-holder{
	background-color:black;
	color:white;
	font-size:12px;
	font-family:Arial;
	position: fixed;
	/*-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);*/
	/*-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.5);*/
	/*box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 0.5);*/
	opacity:0;
}

.left-click-menu-holder.shown{
	opacity:1;
}

.left-click-menu-holder ul{
	padding: 0px;
	margin: 0px;
	
}
.left-click-menu-holder li{
	padding: 10px 15px;
	cursor:pointer;
	border-bottom:1px solid #666;
}

.left-click-menu-holder li:last-child{
	border-bottom:none;
}

.left-click-menu-holder li.more{
	padding:0px;
}

.left-click-menu-holder li.more:hover , .left-click-menu-holder li.stack-li:hover {
	background-color:black;
}

.left-click-menu-holder li.not-clickable {
	border-bottom:none;
	color:#666;
	padding-bottom: 0px;
	cursor: default;
}

.left-click-menu-holder li.not-clickable:hover {
	background-color:black;
}



.left-click-menu-holder li.more .delete-btn{
	float: right;
}

.left-click-menu-holder li:hover{
	background-color:#0099CC;
}

.left-click-menu-holder li.selected{
	background-color:#333;
}

.mini-menu.stripe-controls.right ul{
	padding:0px;	
	margin:0px;
}

.mini-menu.stripe-controls.right li{
	padding: 10px 15px;
	cursor:pointer;
	border-bottom:1px solid #333;
	font-size:12px;
	font-family:Arial;
}

.mini-menu.stripe-controls.right li.more{
	color:#333;
}

.mini-menu.stripe-controls.right li.common-options{
	padding: 0px 0px;
}



.mini-menu.stripe-controls.right li:not(.common-options):hover{
	background-color:#0099CC;
}



li:hover .edit-goto{
	color:#99FFFF;
}

li .edit-goto:hover{
	color:#FFFFFF;
	text-decoration:underline;
}

#progress-for-all{
	background-color:#666;
	width:0%;
	height:100%;
	display: inline-block;
	position: absolute;
	opacity:0.5;
	left: 0px;
	background-position: center;
	background-size:cover;
	background-repeat:no-repeat;
	
}

.stripe-blocker{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	opacity:0.7;
	background-color:black;
}

.text-element:empty:before {
  content: "\00a0 ";
}

#xprs.tablet-preview .master.item-box{
	margin-top:-1px;
	margin-bottom:-1px;
}

.animated-height{
	-webkit-transition: height 2s cubic-bezier(0.165, 0.84, 0.44, 1), min-height 2s cubic-bezier(0.165, 0.84, 0.44, 1);
 	-moz-transition: height 2s cubic-bezier(0.165, 0.84, 0.44, 1), min-height 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  	-o-transition: height 2s cubic-bezier(0.165, 0.84, 0.44, 1) , min-height 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  	transition: height 2s cubic-bezier(0.165, 0.84, 0.44, 1) , min-height  2s cubic-bezier(0.165, 0.84, 0.44, 1);
  	
}

.item-box.animated-height{
	overflow:hidden;
}


#empty-stripe{
	transition-duration: 1s;
}

.fast-animated-height{
	-webkit-transition: height 1s cubic-bezier(0.165, 0.84, 0.44, 1), min-height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
 	-moz-transition: height 1s cubic-bezier(0.165, 0.84, 0.44, 1),min-height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  	-o-transition: height 1s cubic-bezier(0.165, 0.84, 0.44, 1) ,min-height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  	transition: height 1s cubic-bezier(0.165, 0.84, 0.44, 1) ,min-height  1s cubic-bezier(0.165, 0.84, 0.44, 1);
}




.animated-opacity{
	-webkit-transition: opacity 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
 	-moz-transition: opacity 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  	-o-transition: opacity 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  	transition: opacity  1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#publish-module #payment-form #card-number{
	background-repeat: no-repeat;
	background-position: 315px;
	background-size: 35px;
}

#publish-module #payment-form input.invalid{
	background-color:#CC3333;
}

.reset-min-height{
	/*IE*/
	min-height: auto !important; 
	/* Rest of the world */
	min-height: initial !important;
}


.preview-bottom-bar{
	height:170px;
	width:100%;
	display:table;
	background-color:black;
}

.bottom-inner{
	display:table-cell;
	vertical-align:middle;
	text-align: center;
}

#choose-template-btn{
	font-family: Arial;
	font-size: 12px;
	display: inline-block;
	background-color: #33CC66;
	padding: 18px 20px; 
	/*float: right;*/
	color: white;
	margin-right: 30px;
}




#bottom-toggle-menu-holder{
	text-align:left;
	/*position: absolute;*/
}


#bottom-toggle-menu .item-type-btn{
	width: 32px;
	height: 32px;
}

#bottom-toggle-menu .item-type-btn-wrapper.disabled{
	/*opacity:0.3;*/
	display:none;
	
}

#bottom-toggle-menu .item-type-btn-wrapper.disabled .item-type-btn{
	cursor:default;
}

#bottom-toggle-menu .item-type-btn-wrapper{
	width: 32px;
	height: 32px;
}

#bottom-toggle-menu .item-type-btn-text{
	padding-top:10px;
}





.is-blocked .stripe-controls.mini-menu{
	display:none;
}
	


.master.gallery-box.manage-mode .sub.item-box:not(.do-not-highlight):hover .manage-ui.item-manage-menu, .master.gallery-box.manage-mode .sub.item-box.highlight .manage-ui.item-manage-menu{
	display: block;
	opacity: 0.7;
	background-color: black;
	position: absolute;
	left: 50%;
	top: 0px;
	/* bottom: 0px; */
	margin-left: -110px;
	margin-top: 6px;
	z-index: 999;
}

.item-loading-cover{
	opacity:0.8;
	background-color:black;
	background-image:url('/images/x_loader.gif');
	background-repeat:no-repeat;
	background-position: center;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:99999;
}

.manage-blocker{
	opacity:0.8;
	background-color:#555;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:99999;
	
}

.master.gallery-box.manage-mode  .manage-ui.manage-title{
	color:white;
	font-family:HelveNueThinNormal;
	margin-left: 70px;
	margin-top: 30px;
	left: 0px;
	position: absolute;
}

.manage-ui.back-btn{
	width: 60px;
	position:absolute;
	top:0px;
	left:0px;
}

.video-blocker, .map-blocker{
	height:100%;
	min-height:inherit;
	width:100%;
	position:absolute;
	left:0px;
	right:0px;
}

.small-toggle-selector{
	font-size:8px;
	color:white;
	font-family:Arial;	
	padding:3px;
	display:inline-block;
}

.small-toggle-selector.selected{
	color:green;
}

.helper-div{
	pointer-events: none;
}

.preview-content-holder{
	pointer-events: auto;
}

.item-preview,.item-details{
	pointer-events: auto;
}


#xprs.tablet-preview .crop-panel-holder , #xprs.mobile-preview .crop-panel-holder{
	display:none;
}









